<header>
  <nav class="nav nav-pills nav-tabs flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/about-me">Présentation</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Blog</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/">Accueil</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/monitoring">Veilles</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/contact">Contact</a>

    <!-- Button trigger modal -->
    <button type="button" data-toggle="modal" data-target="#exampleModal">Logout</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Voulez-vous vous déconnecter ?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Oui</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>


