<footer class="site-footer fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">Apache</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="github" href="{{BASE_URL_1}}" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></li>
          <li><a class="linkedin" href="#"><fa-icon [icon]="faLinkedIn"></fa-icon></a></li>
          <li><a class="twitter" href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
